flows.json
[{"id":"18af4fb6.0a22f","type":"inject","z":"217b8f4f.2fbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["e4a0cda9.74c0b"]]},{"id":"e4a0cda9.74c0b","type":"http request","z":"217b8f4f.2fbb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://coronavirus-19-api.herokuapp.com/countries","tls":"","proxy":"","authType":"","x":290,"y":80,"wires":[["e5692a5a.d89df8","5ae62e7c.40535"]]},{"id":"e5692a5a.d89df8","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":20,"wires":[]},{"id":"c803770d.5896a8","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/countries/:country","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["5565804.bc8c68"]]},{"id":"a4baec91.6362d","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{},"x":510,"y":460,"wires":[]},{"id":"5ae62e7c.40535","type":"function","z":"217b8f4f.2fbb","name":"","func":"var tmp=JSON.parse(msg.payload);\n\nmsg.payload = tmp.reduce(function(map, obj) {\n    map[obj.country] = obj;\n    return map;\n}, {});\n\nflow.set('data',msg.payload);\n\nmsg.PubDate = new Date().toUTCString();\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["c60d0b70.3bb3e8","1daa2e32.e7c782"]]},{"id":"c60d0b70.3bb3e8","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":20,"wires":[]},{"id":"5565804.bc8c68","type":"function","z":"217b8f4f.2fbb","name":"","func":"var data=flow.get('data') || null;\nmsg.payload=data[msg.req.params.country];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["a4baec91.6362d"]]},{"id":"b2e03472.9bbe48","type":"function","z":"217b8f4f.2fbb","name":"","func":"msg.payload=flow.get('data') || \"ERROR\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["a4baec91.6362d"]]},{"id":"1993a9f2.f88b46","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/countries","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["b2e03472.9bbe48"]]},{"id":"db8b5f6.d1c00a","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/webhookTelegram/PONaquiTUtoken","method":"post","upload":false,"swaggerDoc":"","x":210,"y":520,"wires":[["efe53625.7c2818","d87d4f45.a62ac","6f55c407.f4e0fc"]]},{"id":"efe53625.7c2818","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"OK, Telegram, recibido","output":"str","x":580,"y":520,"wires":[["8ea8b782.c82478"]]},{"id":"8ea8b782.c82478","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{},"x":750,"y":520,"wires":[]},{"id":"d87d4f45.a62ac","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":620,"wires":[]},{"id":"d69f1714.ad1868","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"chat_id\": \"{{payload.message.chat.id}}\",\n\"text\": \"{{flow.telegram.full}}\",\n\"parse_mode\": \"MarkdownV2\"\n}","output":"json","x":980,"y":640,"wires":[["b87bc6c1.e0b808"]]},{"id":"b87bc6c1.e0b808","type":"http request","z":"217b8f4f.2fbb","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botPONaquiTUtoken/sendmessage","tls":"6d6a8d22.16e3c4","proxy":"","authType":"","x":1190,"y":640,"wires":[["616aaeff.fbad1"]]},{"id":"616aaeff.fbad1","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":620,"wires":[]},{"id":"94d027c8.db45a8","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/testmsgatelegram","method":"get","upload":false,"swaggerDoc":"","x":100,"y":660,"wires":[["b61226ae.6c2388","d6aadad0.78c1a8"]]},{"id":"75d36b22.23ecb4","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{},"x":370,"y":680,"wires":[]},{"id":"b61226ae.6c2388","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":620,"wires":[]},{"id":"2ee9fb61.378044","type":"http request","z":"217b8f4f.2fbb","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronatest","tls":"6d6a8d22.16e3c4","proxy":"","authType":"","x":910,"y":460,"wires":[["616aaeff.fbad1"]]},{"id":"d6aadad0.78c1a8","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.telegram.full}}\n***\n{{flow.telegram.article1}}\n***\n{{flow.telegram.article2}}\n***\n{{flow.telegram.article3}}\n***\n{{flow.telegram.article4}}\n***\n","output":"str","x":240,"y":720,"wires":[["75d36b22.23ecb4"]]},{"id":"22a606d6.7f919a","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/oldcoronavirus/rss","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["6baa042a.dfb07c"]]},{"id":"72a11dc7.a03b34","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{"Content-type":"application/rss+xml"},"x":730,"y":180,"wires":[]},{"id":"45df104d.b1e27","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":140,"wires":[]},{"id":"f465ad74.3df92","type":"change","z":"217b8f4f.2fbb","name":"","rules":[{"t":"set","p":"PubDate","pt":"msg","to":"$now().toUTCString()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["23938e2a.3162c2"]]},{"id":"6baa042a.dfb07c","type":"function","z":"217b8f4f.2fbb","name":"","func":"msg.PubDate = new Date().toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["23938e2a.3162c2"]]},{"id":"1daa2e32.e7c782","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.rss","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\">\n  <channel>\n    \n      <title>Info CoronaVirus</title>\n      <description>Info CoronaVirus</description>\n      <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/rss</link>\n      <language>es-ES</language>\n      <copyright>Pending</copyright>\n      <pubDate>{{PubDate}}</pubDate>\n      <lastBuildDate>{{PubDate}}</lastBuildDate>\n\n      \n        <item>\n          <title>Datos de CoronaVirus en España</title>\n          <description>En España ya se han producido {{flow.data[\"Spain\"].cases}} casos, de los cuales se han recuperado {{flow.data[\"Spain\"].recovered}} y siguen activos {{flow.data[\"Spain\"].active}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>1</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n         <item>\n          <title>Datos de CoronaVirus hoy en España</title>\n          <description>Hoy se informa de  {{flow.data[\"Spain\"].todayCases}} nuevos casos y {{flow.data[\"Spain\"].todayDeaths}} fallecimientos.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>2</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n      \n         <item>\n          <title>Muertes totales por CoronaVirus en España</title>\n          <description>El total de fallecidos en España se eleva ya a {{flow.data[\"Spain\"].deaths}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>3</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n        <item>\n          <title>Disclaimer</title>\n          <description>La información anterior se proporciona a título informativo y no tiene ningún valor médico. Los datos se han obtenido de información pública disponible en https://www.worldometers.info/coronavirus/</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>4</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n\n  </channel>\n</rss>","output":"str","x":680,"y":80,"wires":[["3a22300a.f5dab"]]},{"id":"cfb2889d.6aa008","type":"function","z":"217b8f4f.2fbb","name":"","func":"flow.set('rss',msg.payload.rss);\nflow.set('telegram.full',msg.payload.telegram.full);\nflow.set('telegram.article1',msg.payload.telegram.inline.article1);\nflow.set('telegram.article2',msg.payload.telegram.inline.article2);\nflow.set('telegram.article3',msg.payload.telegram.inline.article3);\nflow.set('telegram.article4',msg.payload.telegram.inline.article4);\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":80,"wires":[[]]},{"id":"7cc120ec.d05a9","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/rss","method":"get","upload":false,"swaggerDoc":"","x":110,"y":300,"wires":[["ac77540d.54e808"]]},{"id":"20009dff.e9ef52","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.rss}}","output":"str","x":360,"y":340,"wires":[["fdb6e322.03039"]]},{"id":"fdb6e322.03039","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{"Content-type":"application/rss+xml"},"x":590,"y":300,"wires":[]},{"id":"23938e2a.3162c2","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\">\n  <channel>\n    \n      <title>Info CoronaVirus</title>\n      <description>Info CoronaVirus</description>\n      <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/rss</link>\n      <language>es-ES</language>\n      <copyright>Pending</copyright>\n      <pubDate>{{PubDate}}</pubDate>\n      <lastBuildDate>{{PubDate}}</lastBuildDate>\n\n      \n        <item>\n          <title>Datos de CoronaVirus en España</title>\n          <description>En España ya se han producido {{flow.data[\"Spain\"].cases}} casos, de los cuales se han recuperado {{flow.data[\"Spain\"].recovered}} y siguen activos {{flow.data[\"Spain\"].active}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>1</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n         <item>\n          <title>Datos de CoronaVirus hoy en España</title>\n          <description>Hoy se informa de  {{flow.data[\"Spain\"].todayCases}} nuevos casos y {{flow.data[\"Spain\"].todayDeaths}} fallecimientos.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>2</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n      \n         <item>\n          <title>Muertes totales por CoronaVirus en España</title>\n          <description>El total de fallecidos en España se eleva ya a {{flow.data[\"Spain\"].deaths}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>3</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n        <item>\n          <title>Disclaimer</title>\n          <description>La información anterior se proporciona a título informativo y no tiene ningún valor médico. Los datos se han obtenido de información pública disponible en https://www.worldometers.info/coronavirus/</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>4</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n\n  </channel>\n</rss>","output":"str","x":560,"y":160,"wires":[["72a11dc7.a03b34","45df104d.b1e27"]]},{"id":"ac77540d.54e808","type":"change","z":"217b8f4f.2fbb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"rss","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["fdb6e322.03039"]]},{"id":"218a982d.d8cc18","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"En España ya se han producido {{flow.data[\"Spain\"].cases}} casos, de los cuales se han recuperado {{flow.data[\"Spain\"].recovered}} y siguen activos {{flow.data[\"Spain\"].active}}\\\\.\\\\\\nAAA","output":"str","x":1480,"y":160,"wires":[["cfb2889d.6aa008"]]},{"id":"3a91f7b4.c1a198","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"chat_id\": \"{{payload.message.chat.id}}\",\n\"text\": \"{{flow.telegram}}\",\n\"parse_mode\": \"MarkdownV2\"\n}","output":"json","x":700,"y":800,"wires":[["6944fc79.106a14"]]},{"id":"15382fb9.45baf","type":"inject","z":"217b8f4f.2fbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":800,"wires":[["b2f84123.b2dc4"]]},{"id":"b2f84123.b2dc4","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"En España ya se han producido {{flow.data[\"Spain\"].cases}} casos, de los cuales se han recuperado {{flow.data[\"Spain\"].recovered}} y siguen activos {{flow.data[\"Spain\"].active}}\\\\.\\\\\\nHoy se informa de  {{flow.data[\"Spain\"].todayCases}} nuevos casos y {{flow.data[\"Spain\"].todayDeaths}} fallecimientos\\\\.\\\\\\nEl total de fallecidos en España se eleva ya a {{flow.data[\"Spain\"].deaths}}\\\\.\\\\\\nLa información anterior se proporciona a título informativo y no tiene ningún valor médico\\\\. Los datos se han obtenido de información pública disponible en [worldometers.info](https://www.worldometers.info/coronavirus)\n","output":"str","x":340,"y":800,"wires":[["6cf8d242.28231c"]]},{"id":"6cf8d242.28231c","type":"function","z":"217b8f4f.2fbb","name":"","func":"flow.set('telegram',msg.payload.telegram);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["3a91f7b4.c1a198"]]},{"id":"3a22300a.f5dab","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram.full","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"En España ya se han producido *{{flow.data[\"Spain\"].cases}} casos*, de los cuales se han *recuperado {{flow.data[\"Spain\"].recovered}}* y siguen *activos {{flow.data[\"Spain\"].active}}*\\\\.\\\\\\nHoy se informa de  *{{flow.data[\"Spain\"].todayCases}} nuevos casos* y *{{flow.data[\"Spain\"].todayDeaths}} fallecimientos*\\\\.\\\\\\nEl total de fallecidos en España se eleva ya a *{{flow.data[\"Spain\"].deaths}}*\\\\.\\\\\\nLa información anterior se proporciona *a título informativo* y no tiene ningún valor médico\\\\. Los datos se han obtenido de información pública disponible en [worldometers\\\\.info](www.worldometers.info/coronavirus)","output":"str","x":840,"y":80,"wires":[["6045eb5a.97ca34"]]},{"id":"6944fc79.106a14","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":800,"wires":[]},{"id":"fb8f984c.42f688","type":"inject","z":"217b8f4f.2fbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":880,"wires":[["3a91f7b4.c1a198"]]},{"id":"6f55c407.f4e0fc","type":"switch","z":"217b8f4f.2fbb","name":"","property":"payload.inline_query","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":580,"wires":[["ae24d7a1.63d438","f77517ed.5e7828"],["d69f1714.ad1868"]]},{"id":"ae24d7a1.63d438","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":520,"wires":[]},{"id":"f77517ed.5e7828","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"inline_query_id\": \"{{payload.inline_query.id}}\",\n    \"results\" : [\n                    {\n                        \"type\" : \"article\" ,\n                        \"id\": \"1\" ,\n                        \"title\": \"Datos de CoronaVirus en España\" ,\n                        \"input_message_content\" : {                                                    \n                                                    \"message_text\" : \"{{flow.telegram.article1}}\\\\\\n\\\\\\n{{flow.telegram.article4}}\" ,\n                                                    \"parse_mode\" : \"MarkdownV2\" ,\n                                                    \"disable_web_page_preview\" : true\n                                                    },\n                        \"description\": \"{{flow.telegram.article1}}\"\n                    },\n                    {\n                        \"type\" : \"article\" ,\n                        \"id\": \"2\" ,\n                        \"title\": \"Datos de CoronaVirus hoy en España\" ,\n                        \"input_message_content\" : {\n                                                    \"message_text\" : \"{{flow.telegram.article2}}\\\\\\n\\\\\\n{{flow.telegram.article4}}\" ,\n                                                    \"parse_mode\" : \"MarkdownV2\" ,                                                                                             \n                                                    \"disable_web_page_preview\" : true\n                                                   },\n                        \"description\": \"{{flow.telegram.article2}}\"\n                    },\n                    {\n                        \"type\" : \"article\" ,\n                        \"id\": \"3\" ,\n                        \"title\": \"Muertes totales por CoronaVirus en España\" ,\n                        \"input_message_content\" : {\n                                                    \"message_text\" : \"{{flow.telegram.article3}}\\\\\\n\\\\\\n{{flow.telegram.article4}}\" ,\n                                                    \"parse_mode\" : \"MarkdownV2\" ,                                                                                             \n                                                    \"disable_web_page_preview\" : true\n                                                   },\n                        \"description\": \"{{flow.telegram.article3}}\"\n                    },\n                    {\n                        \"type\" : \"article\" ,\n                        \"id\": \"4\" ,\n                        \"title\": \"Advertencia\" ,\n                        \"input_message_content\" : {\n                                                    \"message_text\" : \"{{flow.telegram.article4}}\" ,\n                                                    \"parse_mode\" : \"MarkdownV2\" ,                                                                                             \n                                                    \"disable_web_page_preview\" : true\n                                                   },\n                        \"description\": \"{{flow.telegram.article4}}\"\n                    }\n              ]\n}","output":"json","x":980,"y":580,"wires":[["65211fb.7ba92e"]]},{"id":"65211fb.7ba92e","type":"http request","z":"217b8f4f.2fbb","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botPONaquiTUtoken/answerInlineQuery","tls":"6d6a8d22.16e3c4","proxy":"","authType":"","x":1190,"y":600,"wires":[["616aaeff.fbad1"]]},{"id":"6045eb5a.97ca34","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram.inline.article1","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"En España ya se han producido *{{flow.data[\"Spain\"].cases}} casos*, de los cuales se han *recuperado {{flow.data[\"Spain\"].recovered}}* y siguen *activos {{flow.data[\"Spain\"].active}}*\\\\.","output":"str","x":1000,"y":80,"wires":[["b8df5ee0.a0663"]]},{"id":"b8df5ee0.a0663","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram.inline.article2","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hoy se informa de  *{{flow.data[\"Spain\"].todayCases}} nuevos casos* y *{{flow.data[\"Spain\"].todayDeaths}} fallecimientos*\\\\.","output":"str","x":1160,"y":80,"wires":[["d044b82f.8c2998"]]},{"id":"d044b82f.8c2998","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram.inline.article3","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El total de fallecidos en España se eleva ya a *{{flow.data[\"Spain\"].deaths}}*\\\\.","output":"str","x":1320,"y":80,"wires":[["99dc746d.c07708"]]},{"id":"99dc746d.c07708","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload.telegram.inline.article4","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La información anterior se proporciona *a título informativo* y no tiene ningún valor médico\\\\. Los datos se han obtenido de información pública disponible en [worldometers\\\\.info](www.worldometers.info/coronavirus)","output":"str","x":1480,"y":80,"wires":[["cfb2889d.6aa008"]]},{"id":"6d6a8d22.16e3c4","type":"tls-config","z":"",e":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
