flows.json
[{"id":"18af4fb6.0a22f","type":"inject","z":"217b8f4f.2fbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["e4a0cda9.74c0b"]]},{"id":"e4a0cda9.74c0b","type":"http request","z":"217b8f4f.2fbb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://coronavirus-19-api.herokuapp.com/countries","tls":"","proxy":"","authType":"","x":310,"y":80,"wires":[["e5692a5a.d89df8","5ae62e7c.40535"]]},{"id":"e5692a5a.d89df8","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":20,"wires":[]},{"id":"c803770d.5896a8","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/countries/:country","method":"get","upload":false,"swaggerDoc":"","x":160,"y":460,"wires":[["5565804.bc8c68"]]},{"id":"a4baec91.6362d","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{},"x":530,"y":460,"wires":[]},{"id":"5ae62e7c.40535","type":"function","z":"217b8f4f.2fbb","name":"","func":"var tmp=JSON.parse(msg.payload);\n\nmsg.payload = tmp.reduce(function(map, obj) {\n    map[obj.country] = obj;\n    return map;\n}, {});\n\nflow.set('data',msg.payload);\n\nmsg.PubDate = new Date().toUTCString();\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["c60d0b70.3bb3e8","1daa2e32.e7c782"]]},{"id":"c60d0b70.3bb3e8","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":20,"wires":[]},{"id":"5565804.bc8c68","type":"function","z":"217b8f4f.2fbb","name":"","func":"var data=flow.get('data') || null;\nmsg.payload=data[msg.req.params.country];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["a4baec91.6362d"]]},{"id":"b2e03472.9bbe48","type":"function","z":"217b8f4f.2fbb","name":"","func":"msg.payload=flow.get('data') || \"ERROR\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["a4baec91.6362d"]]},{"id":"1993a9f2.f88b46","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/countries","method":"get","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["b2e03472.9bbe48"]]},{"id":"db8b5f6.d1c00a","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/webhookTelegram/PUTTOKENHERE","method":"post","upload":false,"swaggerDoc":"","x":230,"y":520,"wires":[["efe53625.7c2818","d87d4f45.a62ac","d69f1714.ad1868"]]},{"id":"efe53625.7c2818","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"OK, Telegram, recibido","output":"str","x":600,"y":520,"wires":[["8ea8b782.c82478"]]},{"id":"8ea8b782.c82478","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{},"x":770,"y":520,"wires":[]},{"id":"d87d4f45.a62ac","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":620,"wires":[]},{"id":"d69f1714.ad1868","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"chat_id\": \"{{payload.message.chat.id}}\",\n\"text\": \"casos: {{flow.data[\"Spain\"].cases}}\"\n}","output":"json","x":660,"y":560,"wires":[["b87bc6c1.e0b808"]]},{"id":"b87bc6c1.e0b808","type":"http request","z":"217b8f4f.2fbb","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.telegram.org/botPUTTOKENHERE/sendmessage","tls":"6d6a8d22.16e3c4","proxy":"","authType":"","x":910,"y":560,"wires":[["616aaeff.fbad1"]]},{"id":"616aaeff.fbad1","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":560,"wires":[]},{"id":"94d027c8.db45a8","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronatest","method":"post","upload":false,"swaggerDoc":"","x":100,"y":660,"wires":[["b61226ae.6c2388","d6aadad0.78c1a8"]]},{"id":"75d36b22.23ecb4","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{},"x":390,"y":680,"wires":[]},{"id":"b61226ae.6c2388","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":220,"y":620,"wires":[]},{"id":"2ee9fb61.378044","type":"http request","z":"217b8f4f.2fbb","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronatest","tls":"6d6a8d22.16e3c4","proxy":"","authType":"","x":910,"y":480,"wires":[["616aaeff.fbad1"]]},{"id":"d6aadad0.78c1a8","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":260,"y":720,"wires":[["75d36b22.23ecb4"]]},{"id":"22a606d6.7f919a","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/oldcoronavirus/rss","method":"get","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["6baa042a.dfb07c"]]},{"id":"72a11dc7.a03b34","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{"Content-type":"application/rss+xml"},"x":750,"y":180,"wires":[]},{"id":"45df104d.b1e27","type":"debug","z":"217b8f4f.2fbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":140,"wires":[]},{"id":"f465ad74.3df92","type":"change","z":"217b8f4f.2fbb","name":"","rules":[{"t":"set","p":"PubDate","pt":"msg","to":"$now().toUTCString()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["23938e2a.3162c2"]]},{"id":"6baa042a.dfb07c","type":"function","z":"217b8f4f.2fbb","name":"","func":"msg.PubDate = new Date().toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["23938e2a.3162c2"]]},{"id":"1daa2e32.e7c782","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\">\n  <channel>\n    \n      <title>Info CoronaVirus</title>\n      <description>Info CoronaVirus</description>\n      <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/rss</link>\n      <language>es-ES</language>\n      <copyright>Pending</copyright>\n      <pubDate>{{PubDate}}</pubDate>\n      <lastBuildDate>{{PubDate}}</lastBuildDate>\n\n      \n        <item>\n          <title>Datos de CoronaVirus en España</title>\n          <description>En España ya se han producido {{flow.data[\"Spain\"].cases}} casos, de los cuales se han recuperado {{flow.data[\"Spain\"].recovered}} y siguen activos {{flow.data[\"Spain\"].active}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>1</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n         <item>\n          <title>Datos de CoronaVirus hoy en España</title>\n          <description>Hoy se informa de  {{flow.data[\"Spain\"].todayCases}} nuevos casos y {{flow.data[\"Spain\"].todayDeaths}} fallecimientos.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>2</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n      \n         <item>\n          <title>Muertes totales por CoronaVirus en España</title>\n          <description>El total de fallecidos en España se eleva ya a {{flow.data[\"Spain\"].deaths}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>3</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n        <item>\n          <title>Disclaimer</title>\n          <description>La información anterior se proporciona a título informativo y no tiene ningún valor médico. Los datos se han obtenido de información pública disponible en https://www.worldometers.info/coronavirus/</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>4</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n\n  </channel>\n</rss>","output":"str","x":700,"y":80,"wires":[["cfb2889d.6aa008"]]},{"id":"cfb2889d.6aa008","type":"function","z":"217b8f4f.2fbb","name":"","func":"flow.set('rss',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":80,"wires":[[]]},{"id":"7cc120ec.d05a9","type":"http in","z":"217b8f4f.2fbb","name":"","url":"/coronavirus/rss","method":"get","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["ac77540d.54e808"]]},{"id":"20009dff.e9ef52","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.rss}}","output":"str","x":380,"y":340,"wires":[["fdb6e322.03039"]]},{"id":"fdb6e322.03039","type":"http response","z":"217b8f4f.2fbb","name":"","statusCode":"","headers":{"Content-type":"application/rss+xml"},"x":610,"y":300,"wires":[]},{"id":"23938e2a.3162c2","type":"template","z":"217b8f4f.2fbb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\">\n  <channel>\n    \n      <title>Info CoronaVirus</title>\n      <description>Info CoronaVirus</description>\n      <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/rss</link>\n      <language>es-ES</language>\n      <copyright>Pending</copyright>\n      <pubDate>{{PubDate}}</pubDate>\n      <lastBuildDate>{{PubDate}}</lastBuildDate>\n\n      \n        <item>\n          <title>Datos de CoronaVirus en España</title>\n          <description>En España ya se han producido {{flow.data[\"Spain\"].cases}} casos, de los cuales se han recuperado {{flow.data[\"Spain\"].recovered}} y siguen activos {{flow.data[\"Spain\"].active}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>1</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n         <item>\n          <title>Datos de CoronaVirus hoy en España</title>\n          <description>Hoy se informa de  {{flow.data[\"Spain\"].todayCases}} nuevos casos y {{flow.data[\"Spain\"].todayDeaths}} fallecimientos.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>2</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n      \n         <item>\n          <title>Muertes totales por CoronaVirus en España</title>\n          <description>El total de fallecidos en España se eleva ya a {{flow.data[\"Spain\"].deaths}}.</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>3</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n        \n        <item>\n          <title>Disclaimer</title>\n          <description>La información anterior se proporciona a título informativo y no tiene ningún valor médico. Los datos se han obtenido de información pública disponible en https://www.worldometers.info/coronavirus/</description>\n          <link>https://internetofthingsplatformstarter.eu-de.mybluemix.net/coronavirus/countries/Spain</link>\n          <guid>4</guid>\n          <pubDate>{{PubDate}}</pubDate>\n        </item>\n\n  </channel>\n</rss>","output":"str","x":600,"y":160,"wires":[["72a11dc7.a03b34","45df104d.b1e27"]]},{"id":"ac77540d.54e808","type":"change","z":"217b8f4f.2fbb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"rss","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["fdb6e322.03039"]]},{"id":"6d6a8d22.16e3c4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
